:root {
    --gap: 20px;
    --w1: calc( (100% - 11 * var(--gap)) / 12 );
    --w2: calc( var(--w1) + var(--gap) + var(--w1));
    --w3: calc( var(--w2) + var(--gap) + var(--w1));
    --w4: calc( var(--w3) + var(--gap) + var(--w1));
    --w5: calc( var(--w4) + var(--gap) + var(--w1));
    --w6: calc( var(--w5) + var(--gap) + var(--w1));
    --w7: calc( var(--w6) + var(--gap) + var(--w1));
    --w8: calc( var(--w7) + var(--gap) + var(--w1));
    --w9: calc( var(--w8) + var(--gap) + var(--w1));
    --w10: calc( var(--w9) + var(--gap) + var(--w1));
    --w11: calc( var(--w10) + var(--gap) + var(--w1));
    --w12: calc( var(--w11) + var(--gap) + var(--w1));
}
.container {
    display: inline-block;
    width: 100%; 
}
.container > .row {
    display: inline-block;
    width: 1400px;
    margin: 5px calc(50% - 700px);
    /* background-color: black; */
    text-align: center;
}

.container > .row > .col-1 { width: var(--w1);}
.container > .row > .col-2 { width: var(--w2);}
.container > .row > .col-3 { width: var(--w3);}
.container > .row > .col-4 { width: var(--w4);}
.container > .row > .col-5 { width: var(--w5);}
.container > .row > .col-6 { width: var(--w6);}
.container > .row > .col-7 { width: var(--w7);}
.container > .row > .col-8 { width: var(--w8);}
.container > .row > .col-9 { width: var(--w9);}
.container > .row > .col-10 { width: var(--w10);}
.container > .row > .col-11 { width: var(--w11);}
.container > .row > .col-12 { width: var(--w12);}




.container > .row > .col-1,
.container > .row > .col-2,
.container > .row > .col-3,
.container > .row > .col-4,
.container > .row > .col-5,
.container > .row > .col-6,
.container > .row > .col-7,
.container > .row > .col-8,
.container > .row > .col-9,
.container > .row > .col-10,
.container > .row > .col-11,
.container > .row > .col-12 {
    display: inline-block;
    float: left;
    margin-left: var(--gap);
    /* background-color:aqua; */
}
.container > .row > *:first-child {
    margin-left: 0;
}

/***************************************
********  VIRŠUJE BAIGTA SU 12 COLUM GRIDU
*****************************************/
/*********** ABOUT ME DALIS *************/
main {height: 100vh;}

.aboutMe > .row {
    height: 600px;
    margin-top: calc(50vh - 300px);
}
.aboutMeR > .col-5 img {
    height: 550px;
    margin: 0 calc(50% - 235px);
}







footer,
footer > .container > .row.col-12 p {
    color:#707C7D;
    font-size: 15px;
    line-height: 15px;
    padding: 30px 0;
}
/********************************************/



.left {
    text-align: left;
}
.right {
    text-align: right;
}

@media (max-width: 1500px) {
    .container > .row {
        width: 1300px;
        margin: 5px calc(50% - 650px);
        }
}
@media (max-width: 1300px) {
    .container > .row {
        width: 1100px;
        margin: 5px calc(50% - 550px);
        }
}
@media (max-width: 1150px) {
    .container > .row {
        width: 950px;
        margin: 5px calc(50% - 475px);
        }
}
@media (max-width: 960px) {
    .container > .row {
        width: 750px;
        margin: 0 calc( 50% - 375px);
        /* margin-left: 0; */
        }
        .container > .row > .col-1-sm { width: var(--w1);}
        .container > .row > .col-2-sm { width: var(--w2);}
        .container > .row > .col-3-sm { width: var(--w3);}
        .container > .row > .col-4-sm { width: var(--w4);}
        .container > .row > .col-5-sm { width: var(--w5);}
        .container > .row > .col-6-sm { width: var(--w6);}
        .container > .row > .col-7-sm { width: var(--w7);}
        .container > .row > .col-8-sm { width: var(--w8);}
        .container > .row > .col-9-sm { width: var(--w9);}
        .container > .row > .col-10-sm { width: var(--w10);}
        .container > .row > .col-11-sm { width: var(--w11);}
        .container > .row > .col-12-sm { width: var(--w12);
        margin-left: 0;}
       

}
/*************  ROOT GAP REDUCING ****/
/*************************************/
/*************************************/

@media (max-width: 800px) {
    :root {--gap:5px}
    .container > .row {
        width: 550px;
        margin: 5px calc(50% - 275px);
        }
}
@media (max-width: 600px) {
    .container > .row {
        width: 350px;
        margin: 5px calc(50% - 175px);
        }
}
@media (max-width: 400px) {
    .container > .row {
        width: 100%;
        margin: 0;
        }
}