#runnNumbPlace .col-3{
    padding: 100px 0;
}

#runnNumbPlace .col-3 i{
    font-size: 40px;
    color: black;
    margin-bottom: 15px;
}

#runnNumbPlace .number{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 19px;
}
#runnNumbPlace .col-3 p{
    font-size: 20px;
    font-weight: bold;
    color: rgb(88, 87, 87);
    margin-bottom: 30px;
}
@media (max-width: 960px) {
        #runnNumbPlace .col-3{
        padding: 10px;
        }
}